<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥐</text></svg>" />
    <title inertia>AdonisJS x Inertia x React</title>

    @viteReactRefresh()
    @inertiaHead()
    @vite(['resources/app.tsx', `resources/pages/${page.component}.tsx`,'resources/styles/app.css'])
</head>

<body>
    @inertia()
</body>

</html>